.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #e2a139, #f9d423);
  height: 100vh;
  font-family: 'Roboto';
}

.coin-container {
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.heading {
  color: #a35200;
  font-size: 45px;
  font-weight: 900;
}

.image {
  width: 100px;
  height: 100px;
}

.description {
  color: #334155;
  font-size: 30px;
}

.button {
  background-color: #e2a139;
  color: #a35200;
  border-color: transparent;
  padding: 5px;
  border-radius: 6px;
  font-weight: 700;
}

.count-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.total {
  padding-right: 30px;
}

.heads {
  padding-right: 30px;
}
